#userGuideMessage, #commandListMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
    -fx-text-fill: white;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

.separator {
    -fx-background-color: derive(#white, 50%);
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
